.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}
.wrapper > * {
  grid-column: col-start / span 12;
}

.container{
  display: grid;
  background: #e4e4e4;
  padding: 10px;
}

@media (min-width: 700px) {
    .container{
      grid-template-columns:1fr;
    }
  
   /* nav ul {
      display: grid;
      grid-template-columns: repeat(3, [col-start] auto);
      grid-gap: 10px;
      justify-content: left;
    }*/
}