<div class="wrapper">
    <header class="main-head">
          <h1><img src="../assets/img/manjapai-logo.jpg" width="48" height="48" class="v-align-mid"> MANJAPAI</h1>

    </header>
    <nav class="main-nav">
        <ul>
            <li><a href="">Electronics</a></li>
            <li><a href="">Grocery</a></li>
            <li><a href="">Offer Zone</a></li>
        </ul>
    </nav>
  <div class="container">
    <aside class="side">
        <div class="quick-info panel">
            <fa-icon [icon]="faUser" size="3x"></fa-icon>
             <div> <span>Radhakrishnan Gopal</span></div>
        </div>
          <div class="my-order panel">
            <span><a href="">My Order</a></span>
          </div>
      </aside>
    <article class="content panel">
        <h2>Personal Information</h2>
        <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
    </article>
  </div> 

    <footer class="main-footer">© 2018 manjapai.com</footer>
</div>