<div class="wrapper">
    <header class="main-head">
          <h1 routerLink="/accountInfo"><img src="../assets/img/manjapai-logo.jpg" width="48" height="48" class="v-align-mid"> MANJAPAI</h1>

    </header>
    <!--<nav class="main-nav">
        <ul>
            <li><a href="">Electronics</a></li>
            <li><a href="">Grocery</a></li>
            <li><a href="">Offer Zone</a></li>
        </ul>

    </nav>-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

    <footer class="main-footer">© 2018 manjapai.com</footer>
</div>
